@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

  .font-class{
    font-weight: 700;
    line-height: 100%;
    text-align: center;
  }


